@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
body{
    background-color: #fff;
}
header{
    display: flex;
    align-items: center;
    color: #fff;
}
.block-top-banner{
    background: url(../img/big-banner-1.png) no-repeat;
    /* min-height: 858px; */
    background-size: cover;
}
.text-banner{
    color: #fff;
    text-align: center;
    padding-bottom: 58px;
    margin-top: 10%;
}
.text-banner .top-text{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-size: 2rem;
    margin-bottom: 3px;
}
.text-banner h2{
    font-size: 6rem;
}
.text-banner button{
    background-color: #d37b23;
    color: #fff;
    padding: 10px 23px;
    border-radius: 27px;
    font-size: 20px;
    text-transform: uppercase;
}
.text-banner button:hover{
    cursor: pointer;
    color: #000;
    transition: 0.8s;
}
.logo img{
    max-height: 55px;
}
.phone p{
    margin: 0;
}
nav a{
    color: #fff;
    padding-right: 8px;
}
.call-back button{
    background: #fa8507;
    color: #fff;
    border-radius: 7px;
    font-size: 11px;
    padding: 7px 15px;
}
.call-back button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #fa8507;
    transition: 1s;
}
.phone p:first-child{
    font-size: 11px;
}
.our-story{
    background-color: #fff;
    margin-top: 15px;
}
.our-story .images img{
    padding: 20px;
    max-height: 400px;
}
.our-story .text-block{
    padding-top: 17px;
}
.our-story .text-block h4{
    font-family: cursive;
    text-decoration: underline;
}
.our-story .text-block h4 span{
    color: #fa8507;
}
.our-story .text-block .main-text{
    color: #777777;
    margin-top: 15px;
    padding: 15px 3px;
}
.icon-block .col-10 p{
    margin: 0;
}
.icon-block .col-2 i{
    font-size: 3rem;
    color: #fa8507;
}